body {
	background-color: #474747;
	background-image: url(img/bg.png);
	background-repeat: repeat;
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	top: 20px;
	left: 440px;
  	right: 280px;
	position: absolute;
  	text-align: center;
}

header h1 {
	color: #DDD;
}

header h2 {
	margin-top: -20px;
	color: #DDD;
}

.sidebar, .sidebar a, .sidebar a:hover, .sidebar a:visited {
	color: #DDD;
}

#help {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    color: #DDD;
    font-size: 18px;
    margin-top: 150px;
}

#tags {
	position: absolute;
	top: 0;
	left: 40px;
	bottom: 0;
	width: 400px;
}

#rightbar {
	position: fixed;
	right: 40px;
	bottom: 0;
	width: 250px;
	top: 0;
}


#tags #library {
	width: 100%;
	height: 100%;
}

#tags #library #root {
	height: 100%;
	width: 100%
	overflow-y: auto;
}

#newtag {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
}

#moveWrapper {
	position: relative;
	left: -150px;
	top: -100px;
	padding: 25px;

	background-color: #DDD;
	color: #333;

	border-color: rgb(122,191,103);
	border-style: solid;
   	border-width: 2px;
	-moz-border-radius:  3px;  
   	-webkit-border-radius: 3px;  
        border-radius: 3px;

	font-size: 12px;
}

#newtag #close {
	width: 90%;
	text-align: right;
	text-decoration: underline;
}

#newtag #close:hover {
	cursor: pointer;
}

#newtag h2 {
	text-align: center;
}

#newtag #breadcrumbs {
	text-align:center;
}

#newtag .dialog_label {
	display:block;
	margin-top: 5px;
	font-style: italic;
	text-align: center;
}

#newtag input {
	width: 90%;
	margin-left: auto;
  	margin-right: auto;
	display:block;
	margin-bottom: 5px;
}

#newtag .button {

	display:block;
	background-color: rgb(122,191,103);

	border-color: rgb(122,191,103);
	border-style: solid;
   	border-width: 2px;

	 -moz-border-radius:  3px;  
   	-webkit-border-radius: 3px;  
	border-radius: 3px;

	color: #333;
}

#newtag .button:hover {
	cursor: pointer;
}

#newtag .enabled {
	background-color: rgb(122,191,103);
	border-color: rgb(122,191,103);
}

#newtag .disabled {
	background-color: rgb(150,150,150);
	border-color: rgb(150,150,150);
}

#newtag .disabled:hover {
	cursor: wait;
}

#tags #library ul {
	width: 400px; 
	margin: 0;
	padding: 0;
}

#tags #library ul li {
	list-style-type: none;
	margin: 2px 5px 2px -15px;
	padding: 3px 3px 3px 35px;

	color: #DDD;
}

#tags #library ul li .parent{
	background: url(img/tags_open.png) no-repeat left;
	height: 27px;
	padding-left: 27px;
	line-height: 27px;
	font-size: 18px;
	font-weight: bold;
}

#tags #library ul li .parent:after {
    content: "...";
}

#tags #library ul li .child{
	background: url(img/tag_open.png) no-repeat left;
	height: 27px;
	padding-left: 27px;
	line-height: 27px;
	font-size: 16px;
}

#tags #library ul li .child.used {
	background: url(img/tag_open_blue.png) no-repeat left;
}

#tags #library ul li .used{
	color: rgb(29,112,245);
}

#tags #library ul li .label:hover {
	cursor: pointer;
}

#tags #library ul .used {
	/**background: #FFF url(img/check.png) no-repeat 2px 8px;*/
}

#tags #library li .hidden{
	display: none;
}

#tags #library li.unused li {
	display: none;
}

#tags #library li:hover>.addButton {
	visibility: visible;
}

#tags #library .addtag {
	padding: 3px;
	margin-left: 24px;
	padding-left: 12px;
	padding-right: 12px;
	color: rgb(122,191,103);

	-moz-border-radius:  3px;  
   	-webkit-border-radius: 3px;  
	border-radius: 3px;

	background-color: #333;

	font-size: 12px;
}

#tags #library .addtag:hover {
	cursor: pointer;
	color: #333;
	background-color: rgb(122,191,103);
}

/*
#tags #library li.used>.addButton {
	visibility: visible;
}
*/
#tweet {
	position: absolute;
	top:200px;
	left: 400px;
  	right: 250px;
}

#tweet #nav {
	margin-top: 30px;
	margin-bottom: 10px;
}

#tweet #nav .button {
	display:block;
    margin:0px auto;

    background: rgb(122,191,103);


	border-color: rgb(122,191,103);
    border-style: solid;
   	border-width: 2px;

    -moz-border-radius:  5px;  
   	-webkit-border-radius: 5px;  
    border-radius: 5px;

    font-size: 1em;
	color: #333;

    padding: 20px;
}

#tweet #nav .button:hover {
	border-color: #333;
	cursor: pointer;
}

#tweet #content{
	width: 500px;

	margin-left: auto;
  	margin-right: auto;
	background-color: #DDD;

	border-color: #DF013A;
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;

	padding: 40px;


	color: #333;
}

#tweet #content #text {
	margin-top: 25px;
	font-size: 22px;
	font-weight: bold;
}

#tweet #content #text a{
	text-decoration: underline;
	color: #222;
}

#tweet #content #text a:visited{
	text-decoration: underline;
	color: #222;
}

#tweet #content #user_name {
	margin-left: 3px;
	font-size: 1em;
	color: #999;
}

#tweet #content #time {
	color: #999;
}



#tweet #content #user_image {
	margin-top: 5px;

	border-color: #333;
	border-style: solid;
	border-width: 1px;
}

#tweet #content #spinner {
	position: relative;
	width: 17px;
	height: 17px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: auto;
  	margin-bottom: auto;

  	background-image: url(img/loader.gif);
	background-repeat: no-repeat;
}

#tweet #languages {
}

#tweet #languages ul {
	width: 500px;
	margin-left: auto;
  	margin-right: auto;
	padding: 0;
}

#tweet #languages ul li {
	float: left;
	list-style-type: none;
	margin-right: 5px;
	padding:3px;
	padding-left: 27px;

	background-color: #DDD;

	border-color: rgb(29,112,245);
    border-style: solid;
   	border-width: 2px;

    -moz-border-radius:  3px;  
   	-webkit-border-radius: 3px;  
    border-radius: 3px;

	color: #333;
}

#tweet #languages ul li:hover {
	cursor: pointer;
}



#tweet #languages .de {
	background: url(img/de.png) no-repeat 3px #DDD;
}

#tweet #languages .en {
	background: url(img/en.png) no-repeat 3px #DDD;
}

#tweet #languages .fr {
	background: url(img/fr.png) no-repeat 3px #DDD;
}

#tweet #languages .it {
	background: url(img/it.png) no-repeat 3px #DDD;
}

#tweet #languages ul .used {
	background-color: rgb(29,112,245);
}

#tweet #languages .other {
	padding-left:3px;
}

#tweet #usedtags {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 500px;
	color: #ccc;
	margin-top: 0;
	min-height: 60px;
	line-height: 36px;
}

#tweet #usedtags .heading {
	margin-bottom: 15px;
}

#tweet #usedtags .item {
	display: inline;

	margin: 7px;

	padding: 2px;

	background: rgb(29,112,245);
	color: #DDD;

	border-color: rgb(29,112,245);
	border-style: solid;
   	border-width: 2px;

   	-moz-border-radius:  3px;  
   	-webkit-border-radius: 3px;  
        border-radius: 3px;
}

.addButton {
	visibility: hidden;
    float:right;
    background: white;
    padding: 1px 5px;

    border: 2px solid rgb(29,112,245);
    -moz-border-radius:  3px;  
    -webkit-border-radius: 3px;  
    border-radius: 3px;
}

.addButton:hover {
    border: 2px solid red;
}

#tiptip_content {
    font-size: 14px !important;
}